span {
  color: red;
  padding-left: 5px;
}
.ErrorMessage {
  color: red;
}
.with_example {
  flex-direction: column;
}
input {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  width: 100%;
  border: 1px solid #ccc;
}
.nextto {
  display: flex;
}
.radio {
  transform: scale(2);
}
.example {
  color: gray;
}
